.footer{
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top__left p{
    font-size: 20px;
    max-width: 400px;
}
.footer-top__right{
    display: flex;
    align-items: center;
    gap: 35px;
}
.footer-subscribe{
    font-size: 20px;
    padding: 22px 50px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #b4b4b4 100%);
    cursor: pointer;
    transition: 0.3s;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.footer-bottom__right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}
.footer-email__input:hover{
    border: 2px solid white;
    transition: 0.3s;
}
.footer-subscribe:hover{
    transform: scale(1.1);
    transition: 0.3s;
}